
[submodule "apartment_finder"]
	path = apartment_finder
	url = git@github.com-work:ghuz-code-repo/apartment_finder.git
[submodule "client_service"]
	path = client_service
	url = https://github.com/ghuz-code-repo/client_service.git
[submodule "referal"]
	path = referal
	url = git@github.com-work:ghuz-code-repo/referal
[submodule "!gateway"]
	path = !gateway
	url = git@github.com-work:ghuz-code-repo/-gateway
[submodule "auth-connector"]
	path = auth-connector
	url = git@github.com-work:ghuz-code-repo/auth-connector.git
[submodule "scriptovod"]
	path = scriptovod
	url = git@github.com-work:ghuz-code-repo/scriptovod
